body {
    background: #FFF8D7;
    background: -webkit-linear-gradient(#FFF8D7, #FFFAF4);
    background: -o-linear-gradient(#FFF8D7, #FFFAF4);
    background: -moz-linear-gradient(#FFF8D7, #FFFAF4);
    background: linear-gradient(#FFF8D7, #FFFAF4);
}
.form {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -155px 0 0 -180px;
	width: 360px;
	height: 310px;
	padding: 20px;
	background-color: rgba(255, 255, 255, .9);
	box-shadow: 0 0 100px rgba(0, 0, 0, .5);
	border-radius: 5px;
	.logo {
		cursor: pointer;
		margin-bottom: 24px;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		> .img {
			width: 150px;
			height: 82px;;
			margin-right: 8px;
			background: url('../../../assets/logo.png') no-repeat center;
			background-size: 100% 100%;
		}
		> span {
			vertical-align: text-bottom;
			font-size: 20px;
			font-family: '微软雅黑';
			display: inline-block;
			font-weight: 700;
			color: #2b72bd;
		}
	}
	button {
		width: 100%;
	}
	p {
		color: rgb(204, 204, 204);
		text-align: center;
		margin-top: 16px;
		font-size: 12px;
		display: flex;
		justify-content: space-between;
	}
}

